<h2>All Transactions</h2>
<!-- <h3>Raw JSON data (debug)</h3>
<pre>{{ transactions | json }}</pre> -->

<form (ngSubmit)="addTransaction()" #txForm="ngForm">
  <div>
    <label>Card Number:</label>
    <input type="number" [(ngModel)]="newTransaction.cardNumber" name="cardNumber" required />
  </div>

  <div>
    <label>Amount:</label>
    <input type="number" [(ngModel)]="newTransaction.amount" name="amount" required />
  </div>

  <div>
    <label>Currency:</label>
    <input type="text" [(ngModel)]="newTransaction.currencyCode" name="currencyCode" required />
  </div>

  <div>
    <label>Comment:</label>
    <input type="text" [(ngModel)]="newTransaction.comment" name="comment" />
  </div>

  <button type="submit">Add Transaction</button>
</form>

<hr />

<ng-container *ngIf="transactions() && transactions().length > 0; else loading">
  <app-transactions-list 
    [transactions]="transactions()" 
    (delete)="deleteTransaction($event)">
  </app-transactions-list>
</ng-container>

<ng-template #loading>
  <p>Loading transactions...</p>
</ng-template>